html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  background-color: #ffffff;
  font-family: "Gotham-Light";
  color: #5D7562;
  font-size: 16px;
}

body,
header {
  max-width: 1920px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
.nav-menu {
  font-family: "GothamBold";
}

h2 {
  font-size: 62px;
  text-transform: uppercase;
}

h3 {
  font-size: 46px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

h4 {
  font-size: 34px;
  letter-spacing: 1.8px;
}

p {
  line-height: 1.8;
  font-size: 34px;
  letter-spacing: 0.05em;
}

.wrapper,
.parallax-mirror::before,
.insta-feed-swiper {
  background-color: #f7f2eb;
}

.wrapper {
  padding-top: 300px;
  background-size: 100% auto !important;
}

.parallax-mirror::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.parallax-mirror + .wrapper {
  background-color: transparent;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
}

.sub-container {
  width: 76%;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #CEA297;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.header-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  padding: 0 6.375em 0 5.5em;
  height: 16.5em;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.menu-mobile {
  display: block;
  position: relative;
  width: 36px;
  height: 28px;
  display: none;
}

.hamburger-line {
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  position: absolute;
}

.hamburger-line-1 {
  top: 0;
}

.hamburger-line-2 {
  top: 12px;
}

.hamburger-line-3 {
  top: 24px;
}

#logo {
  display: block;
}

.img-logo {
  width: 10em;
}

.txt-logo {
  display: none;
  width: 25.875em;
}

.transform {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.transform .header-box {
  height: 7.875em;
}

.transform .img-logo {
  display: none;
}

.transform .txt-logo {
  display: block;
}

.nav-menu ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.nav-menu ul li {
  display: block;
  letter-spacing: 2.81px;
  margin: 0 1.7857142857em;
  text-transform: uppercase;
  font-size: 1.75em;
}

.nav-menu ul li:last-child {
  margin-right: 0;
}

.nav-menu ul li a {
  color: #ffffff;
}

.header-box .nav-menu ul li a.active {
  color: pink;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  padding: 1px;
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  max-width: 100%;
}

.swiper-pagination-bullet {
  background-image: url("../images/dot-inactive.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 50px;
  height: 40px;
  border-radius: 0;
  opacity: 1;
  background-color: transparent;
  outline: none;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 28px;
}

.swiper-pagination-bullet-active {
  background-image: url("../images/dot-active.svg");
}

.page-section {
  overflow: hidden;
  padding: 110px 0;
}

.page-section.hero-section {
  padding-top: 0;
}

.page-section h2 {
  position: relative;
  margin-bottom: 170px;
}

.page-section h2::after {
  content: "";
  width: 114px;
  height: 6px;
  background-color: #5D7562;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -46px;
}

.page-section-content {
  padding: 60px 0;
  margin-left: 20.8450704225%;
  border-top: 3px solid #5D7562;
}

.page-section-content:first-child {
  border-top: 0;
  padding-top: 0;
}

.page-section-content:last-child {
  padding-bottom: 0;
}

.page-section-content h3 {
  margin-bottom: 50px;
}

.page-section-content p {
  letter-spacing: 0.7px;
  text-align: justify;
}

.inner-content {
  padding-left: 7.2824156306%;
}

.content-list {
  font-family: "Gotham-Light";
}

.menu-list {
  margin-bottom: 78px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.menu-list-left {
  border-right: 1px solid #5D7562;
  padding-right: 66px;
}

.menu-list-right {
  padding-left: 66px;
}

.flavors-list h4 {
  margin-bottom: 30px;
}

.padding-46 {
  padding-left: 46px;
}

.medsos-order {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}

.sub-container span {
  margin-bottom: 44px;
  display: block;
}

.wrapper-box-facts {
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.box-pink,
.box-white {
  width: 50%;
  padding: 34px 40px 54px 34px;
  float: left;
  box-sizing: border-box;
}

.box-pink {
  background-color: #E0C3BD;
}

.item-box span {
  font-size: 26px;
  position: relative;
  font-family: "Gotham-Light";
}

.item-box span::after {
  content: "";
  width: 34px;
  height: 2px;
  background-color: #5D7562;
  position: absolute;
  bottom: -12px;
  left: 0;
  display: inline-block;
}

.item-box p {
  font-size: 30px;
}

.item-box h2 {
  font-size: 60px;
  text-transform: none;
  position: relative;
}

.item-box h2::after {
  content: "";
  width: 242px;
  height: 1px;
  background-color: #5D7562;
  position: absolute;
  display: inline-block;
  bottom: -40px;
  right: 2px;
}

.item-box span {
  display: block;
  margin-bottom: 70px;
  font-size: 26px;
}

.find-us {
  margin-bottom: 278px;
}

.outlet {
  float: right;
}

.outlet-list {
  padding-left: 40px;
}

.outlet p {
  position: relative;
}

.outlet p::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #5D7562;
  border-radius: 50%;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
}

footer {
  background-color: #5D7562;
  color: #ffffff;
  text-align: center;
}

footer p {
  line-height: 1.4;
  font-size: 24px;
}

.insta-feed-info {
  padding: 32px 0;
}

.insta-feed-info p {
  font-size: 32px;
}

.copyright-con {
  padding: 46px 0;
}

.swiper-button-next,
.swiper-button-prev {
  width: 80px;
  height: 80px;
  background-size: contain;
  margin-top: -40px;
  outline: none;
}

.swiper-button-next {
  background-image: url("../images/icon_next.svg");
  right: 35px;
}

.swiper-button-prev {
  background-image: url("../images/icon_prev.svg");
  left: 35px;
}

.pad-0 {
  padding: 0;
}

.side-menu-popup {
  visibility: hidden;
  position: fixed;
  top: 5em;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  overflow: hidden;
}

.overlay-trans {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.side-menu-box {
  position: relative;
  z-index: 1;
  width: 240px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

.side-menu-content {
  padding: 42px 36px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.mobile-nav-logo {
  margin-bottom: 30px;
}

.mobile-nav-logo a {
  display: block;
}

.mobile-nav-menu ul {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.mobile-nav-menu ul li {
  margin: 0;
  border-bottom: 1px solid #5D7562;
  text-align: center;
}

.mobile-nav-menu ul li a {
  display: block;
  padding: 36px 0;
  font-family: "GothamBold";
  font-size: 18px;
  color: #5D7562;
  text-transform: uppercase;
}

.show-menu .side-menu-popup {
  visibility: visible;
}

.show-menu .side-menu-box {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

@media only screen and (max-width: 1820px) {
  .header-box {
    font-size: 14px;
  }

  .wrapper {
    padding-top: 270px;
  }

  .container {
    padding: 0 28px;
  }

  .page-section-content p {
    font-size: 30px;
  }
}
@media only screen and (max-width: 1750px) {
  .insta-feed-info p {
    font-size: 28px;
  }

  footer p {
    font-size: 22px;
  }

  .swiper-button-next, .swiper-button-prev {
    width: 64px;
    height: 64px;
    margin-top: -32px;
  }
}
@media only screen and (max-width: 1600px) {
  .insta-feed-info {
    padding: 28px 0;
  }

  .insta-feed-info p {
    font-size: 25px;
  }

  .copyright-con {
    padding: 40px 0;
  }

  footer p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1580px) {
  .header-box {
    font-size: 13px;
  }

  .wrapper {
    padding-top: 253px;
  }

  .container {
    padding: 0 26px;
  }

  .page-section {
    padding: 90px 0;
  }

  .page-section h2 {
    font-size: 45px;
    margin-bottom: 130px;
  }

  .page-section h2::after {
    width: 85px;
  }

  .page-section-content p {
    font-size: 26px;
  }
}
@media only screen and (max-width: 1480px) {
  .header-box {
    font-size: 12px;
  }

  .wrapper {
    padding-top: 236px;
  }

  .container {
    padding: 0 24px;
  }

  .swiper-pagination-bullet {
    width: 40px;
  }
}
@media only screen and (max-width: 1460px) {
  .insta-feed-info {
    padding: 24px 0;
  }

  .insta-feed-info p {
    font-size: 21px;
  }

  .copyright-con {
    padding: 32px 0;
  }

  footer p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1370px) {
  .header-box {
    font-size: 11px;
  }

  .wrapper {
    padding-top: 221px;
  }

  .container {
    padding: 0 22px;
  }

  .page-section {
    padding: 65px 0;
  }

  .page-section h2 {
    font-size: 33px;
    margin-bottom: 90px;
  }

  .page-section h2::after {
    width: 62px;
  }

  .page-section-content p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1250px) {
  .header-box {
    font-size: 10px;
  }

  .wrapper {
    padding-top: 204px;
  }

  .container {
    padding: 0 20px;
  }

  .swiper-pagination-bullet {
    width: 30px;
  }

  .swiper-button-next, .swiper-button-prev {
    width: 54px;
    height: 54px;
    margin-top: -27px;
  }

  .swiper-button-next {
    right: 26px;
  }

  .swiper-button-prev {
    left: 26px;
  }
}
@media only screen and (max-width: 1140px) {
  .header-box {
    font-size: 8.6px;
  }

  .wrapper {
    padding-top: 182px;
  }

  .container {
    padding: 0 16px;
  }
}
@media only screen and (max-width: 1020px) {
  .header-box .nav-menu,
.img-logo {
    display: none;
  }

  .menu-mobile,
.txt-logo {
    display: block;
  }

  .txt-logo {
    width: 264px;
  }

  .header-box,
.transform .header-box {
    height: 5em;
  }

  .header-box {
    font-size: 16px;
    padding: 16px 32px;
  }

  .wrapper {
    padding-top: 6.4em;
  }
}
@media only screen and (max-width: 1000px) {
  .swiper-button-next, .swiper-button-prev {
    width: 42px;
    height: 42px;
    margin-top: -21px;
  }

  .swiper-button-next {
    right: 21px;
  }

  .swiper-button-prev {
    left: 21px;
  }
}
@media only screen and (max-width: 900px) {
  .insta-feed-info {
    padding: 20px 0;
  }

  .insta-feed-info p {
    font-size: 18px;
  }

  .copyright-con {
    padding: 28px 0;
  }

  footer p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  .swiper-button-next, .swiper-button-prev {
    width: 32px;
    height: 32px;
    margin-top: -16px;
  }

  .swiper-button-next {
    right: 14px;
  }

  .swiper-button-prev {
    left: 14px;
  }
}
@media only screen and (max-width: 500px) {
  .insta-feed-info p {
    font-size: 16px;
  }

  .insta-feed-info {
    padding: 16px 0;
  }

  .copyright-con {
    padding: 24px 0;
  }

  footer p {
    font-size: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
