@import 'reset';

@mixin flexbox() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin justify-content($justify) {
	-webkit-justify-content: $justify;
	-moz-justify-content: $justify;
	-ms-justify-content: $justify;
	justify-content: $justify;
	-ms-flex-pack: $justify;
}

@mixin align-items($align) {
	-webkit-align-items: $align;
	-moz-align-items: $align;
	-ms-align-items: $align;
	-ms-flex-align: $align;
	align-items: $align;
}

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #F7F2EB;
	font-family: 'Gotham-Light';
	color: #5D7562;
}

h1,
h2,
h3,
h4,
h5,
h6,
.nav-menu {
	font-family: 'GothamBold';
}

h2 {
	font-size: 62px;
	text-transform: uppercase;
}

h3 {
	font-size: 46px;
	letter-spacing: 1.8px;
	text-transform: uppercase;
}

h4 {
	font-size: 34px;
	letter-spacing: 1.8px;
}

p {
	line-height: 1.8;
	font-size: 34px;
	letter-spacing: 3.8px;
	font-family: 'Gotham-Light';
}

.container {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 26px;
}

.sub-container {
	width: 76%;
	margin: 0 auto;
}

header {
	margin-bottom: 24px;
	background-color: #CEA297;
}

.header-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 76px 30px 62px;
}

#logo {
	display: block;
}

.nav-menu ul {
	display: flex;
}

.nav-menu ul li {
	display: block;
	letter-spacing: 2.81px;
	margin-right: 102px;
	text-transform: uppercase;
}

.nav-menu ul li:last-child {
	margin-right: 0;
}

.nav-menu ul li a {
	color: #ffffff;
	font-size: 28px;
}

.swiper-box {
	margin-bottom: 180px;
}

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	padding: 1px;
	text-align: center;
	font-size: 18px;    /* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img {
	max-width: 100%;
}
.swiper-pagination img{
	width: 150px;
	height: 150px;
}
.swiper-pagination-bullet {
	background-image: url('../images/dot-1.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 150px;
	height: 150px;
	/* width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	color: #000;
	opacity: 1;
	background: rgba(0, 0, 0, 0.2); */
}

.swiper-pagination-bullet-active {
	/* color: #fff;
	background: #007aff; */
}

.page-section {
	overflow: hidden;
	margin-bottom: 220px;
}

.page-section h2 {
	position: relative;
	margin-bottom: 170px;
}

.page-section h2::after {
	content: '';
	width: 114px;
	height: 6px;
	background-color: #5D7562;
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: -46px;
}

.about p {
	width: 1126px;
	float: right;
	letter-spacing: 0.7px;
	text-align: justify;
	font-family: 'GothamBold';
}

.menu-box,
.daifuku-box,
.plain-box {
	width: 1126px;
	float: right;
	border-bottom: 3px solid #5D7562;
	padding-bottom: 60px;
}

.plain-box {
	border-bottom: none;
	padding-bottom: 0;
}

.daifuku-box,
.plain-box {
	padding-top: 60px;
}

.menu-box h3,
.daifuku-box h3,
.plain-box h3 {
	margin-bottom: 42px;
}

.inner-wrapper {
	width: 1044px;
	float: right;
}

.menu-list {
	overflow: hidden;
	margin-bottom: 78px;
}

.menu-list-left {
	float: left;
	position: relative;
	padding-right: 66px;
}

.menu-list-left::after {
	content: '';
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
	width: 1px;
	height: 154px;
	background-color: #5D7562;
}

.menu-list-right {
	float: left;
	position: relative;
	padding-left: 66px;
}

.flavors-list h4 {
	margin-bottom: 30px;
}

.padding-46 {
	padding-left: 46px;
}

.medsos-order {
	display: flex;
	justify-content: space-between;
}

.sub-container span {
	margin-bottom: 44px;
	display: block;
}

.wrapper-box-facts {
	overflow: hidden;
	display: flex;
}

.box-pink,
.box-white {
	width: 710px;
	padding: 34px 40px 54px 34px;
	float: left;
	box-sizing: border-box;
}

.box-pink {
	background-color: #E0C3BD;
}

.item-box span {
	font-size: 26px;
	position: relative;
	font-family: 'Gotham-Light';
}

.item-box span::after {
	content: '';
	width: 34px;
	height: 2px;
	background-color: #5D7562;
	position: absolute;
	bottom: -12px;
	left: 0;
	display: inline-block;
}

.item-box p {
	font-size: 30px;
	letter-spacing: 2.5px;
}

.item-box h2 {
	font-size: 60px;
	text-transform: none;
	position: relative;
}

.item-box h2::after {
	content: '';
	width: 242px;
	height: 1px;
	background-color: #5D7562;
	position: absolute;
	display: inline-block;
	bottom: -40px;
	right: 2px;
}

.item-box span {
	display: block;
	margin-bottom: 70px;
	font-size: 26px;
}

.find-us {
	margin-bottom: 278px;
}

.outlet {
	width: 1126px;
	float: right;
}

.outlet-list {
	padding-left: 40px;
}

.outlet p {
	position: relative;
}

.outlet p::before {
	content: "";
	position: absolute;
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #5D7562;
	border-radius: 50%;
	top: 50%;
	left: -30px;
	transform: translateY(-50%);
}

.text-footer {
	background-color: #5D7562;
	text-align: center;
	padding-top: (130px - 72px)/2;
	padding-bottom: (130px - 72px)/2;
	overflow: hidden;
}

.text-footer p {
	font-size: 40px;
	color: #ffffff;
}

.text-footer:last-child p {
	font-size: 30px;
}
