@import 'reset';

@mixin flexbox() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin justify-content($justify) {
	-webkit-justify-content: $justify;
	-moz-justify-content: $justify;
	-ms-justify-content: $justify;
	justify-content: $justify;
	-ms-flex-pack: $justify;
}

@mixin align-items($align) {
	-webkit-align-items: $align;
	-moz-align-items: $align;
	-ms-align-items: $align;
	-ms-flex-align: $align;
	align-items: $align;
}

@mixin transition($transition) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-overflow-scrolling: touch;
	background-color: #ffffff;
	font-family: 'Gotham-Light';
	color: #5D7562;
	font-size: 16px;
}

body,
header {
	max-width: 1920px;
	margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
.nav-menu {
	font-family: 'GothamBold';
}

h2 {
	font-size: 62px;
	text-transform: uppercase;
}

h3 {
	font-size: 46px;
	letter-spacing: 1.8px;
	text-transform: uppercase;
}

h4 {
	font-size: 34px;
	letter-spacing: 1.8px;
}

p {
	line-height: 1.8;
	font-size: 34px;
	letter-spacing: 3.8px;
}

.wrapper,
.parallax-mirror::before,
.insta-feed-body {
	background-color: #f7f2eb;
}

.wrapper {
	padding-top: 300px;
	background-size: 100% auto !important;
}

.parallax-mirror::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.parallax-mirror + .wrapper {
	background-color: transparent;
}

.container {
	margin: 0 auto;
	padding: 0 30px;
}

.sub-container {
	width: 76%;
	margin: 0 auto;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background-color: #CEA297;
}

.header-box {
	display: flex;
	@include align-items(center);
	@include justify-content(space-between);
	padding: 0 102/16 + 0em 0 88/16 + 0em;
	height: 264/16 + 0em;
	@include transition(all 0.4s);
}

.menu-mobile {
	display: block;
	position: relative;
	width: 36px;
	height: 28px;
	display: none;
}

.hamburger-line {
	width: 100%;
	height: 4px;
	background-color: #ffffff;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	position: absolute;
}

.hamburger-line-1 {
	top: 0;
}

.hamburger-line-2 {
	top: 12px;
}

.hamburger-line-3 {
	top: 24px;
}

.side-menu-popup {
	visibility: visible;
	position: fixed;
	top: 5em;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 3;
	overflow: hidden;
}

.side-menu-box {

}

#logo {
	display: block;
}

.img-logo {
	width: 160/16 + 0em;
}

.txt-logo {
	display: none;
	width: 414/16 + 0em;
}

.transform .header-box {
	height: 126/16 + 0em;
}

.transform .img-logo {
	display: none;
}

.transform .txt-logo {
	display: block;
}

.nav-menu ul {
	display: flex;
}

.nav-menu ul li {
	display: block;
	letter-spacing: 2.81px;
	margin: 0 50/28 + 0em;
	text-transform: uppercase;
	font-size: 28/16 + 0em;
}

.nav-menu ul li:last-child {
	margin-right: 0;
}

.nav-menu ul li a {
	color: #ffffff;
}

.nav-menu ul li a.active {
	color: pink;
}

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	padding: 1px;
	text-align: center;
	font-size: 18px;
	@include flexbox();
	@include justify-content(center);
	@include align-items(center);
}

.swiper-slide img {
	max-width: 100%;
}

.swiper-pagination-bullet {
	background-image: url('../images/dot-inactive.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 50px;
	height: 40px;
	border-radius: 0;
	opacity: 1;
	background-color: transparent;
	outline: none;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
	bottom: 28px;
}

.swiper-pagination-bullet-active {
	background-image: url('../images/dot-active.svg');
}

.page-section {
	overflow: hidden;
	padding: 110px 0;
}

.page-section.hero-section {
	padding-top: 0;
}

.page-section h2 {
	position: relative;
	margin-bottom: 170px;
}

.page-section h2::after {
	content: '';
	width: 114px;
	height: 6px;
	background-color: #5D7562;
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: -46px;
}

.page-section-content {
	padding: 60px 0;
	margin-left: 296px/1420px*100%;
	border-top: 3px solid #5D7562;
}

.page-section-content:first-child{
	border-top: 0;
	padding-top: 0;
}
.page-section-content:last-child{
	padding-bottom: 0;
}

.page-section-content h3 {
	margin-bottom: 50px;
}

.page-section-content p{
	letter-spacing: 0.7px;
	text-align: justify;
}

.inner-content {
	padding-left: 82px/1126px*100%;
}

.content-list {
	font-family: 'Gotham-Light';
}

.menu-list {
	margin-bottom: 78px;
	@include flexbox();
}

.menu-list-left {
	border-right: 1px solid #5D7562;
	padding-right: 66px;
}

.menu-list-right {
	padding-left: 66px;
}

.flavors-list h4 {
	margin-bottom: 30px;
}

.padding-46 {
	padding-left: 46px;
}

.medsos-order {
	@include flexbox();
	@include justify-content(space-between);
}

.sub-container span {
	margin-bottom: 44px;
	display: block;
}

.wrapper-box-facts {
	overflow: hidden;
	@include flexbox();
}

.box-pink,
.box-white {
	width: 50%;
	padding: 34px 40px 54px 34px;
	float: left;
	box-sizing: border-box;
}

.box-pink {
	background-color: #E0C3BD;
}

.item-box span {
	font-size: 26px;
	position: relative;
	font-family: 'Gotham-Light';
}

.item-box span::after {
	content: '';
	width: 34px;
	height: 2px;
	background-color: #5D7562;
	position: absolute;
	bottom: -12px;
	left: 0;
	display: inline-block;
}

.item-box p {
	font-size: 30px;
	letter-spacing: 2.5px;
}

.item-box h2 {
	font-size: 60px;
	text-transform: none;
	position: relative;
}

.item-box h2::after {
	content: '';
	width: 242px;
	height: 1px;
	background-color: #5D7562;
	position: absolute;
	display: inline-block;
	bottom: -40px;
	right: 2px;
}

.item-box span {
	display: block;
	margin-bottom: 70px;
	font-size: 26px;
}

.find-us {
	margin-bottom: 278px;
}

.outlet {
	width: 1126px;
	float: right;
}

.outlet-list {
	padding-left: 40px;
}

.outlet p {
	position: relative;
}

.outlet p::before {
	content: "";
	position: absolute;
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #5D7562;
	border-radius: 50%;
	top: 50%;
	left: -30px;
	transform: translateY(-50%);
}

footer {
	background-color: #5D7562;
	color: #ffffff;
	text-align: center;
}

footer p {
	line-height: 1.4;
	font-size: 30px;
}

.insta-feed-info {
	padding: 38px 0;
}

.insta-feed-info p {
	font-size: 38px;
}

.copyright-con {
	padding: 68px 0;
}

.swiper-button-next,
.swiper-button-prev {
	width: 90px;
	height: 90px;
	background-size: contain;
	margin-top: -45px;
	outline: none;
}

.swiper-button-next {
	background-image: url('../images/icon_next.svg');
	right: 35px;
}

.swiper-button-prev {
	background-image: url('../images/icon_prev.svg');
	left: 35px;
}

.pad-0 {
	padding: 0;
}

@media only screen and (max-width: 1800px) {
	.header-box {
		font-size: 14px;
	}

	.wrapper {
		padding-top: 270px;
	}

	.container {
		padding: 0 28px;
	}

	.page-section-content p {
		font-size: 30px;
	}

}

@media only screen and (max-width: 1560px) {
	.header-box {
		font-size: 13px;
	}

	.wrapper {
	    padding-top: 253px;
	}

	.container {
		padding: 0 26px;
	}

	.page-section{
		padding: 90px 0;
	}

	.page-section h2 {
		font-size: 45px;
		margin-bottom: 130px;
	}

	.page-section h2::after {
		width: 85px;
	}

	.page-section-content p {
		font-size: 26px;
	}

}
@media only screen and (max-width: 1460px) {
	.header-box {
		font-size: 12px;
	}

	.wrapper {
	    padding-top: 236px;
	}

	.container {
		padding: 0 24px;
	}

	.swiper-pagination-bullet {
		width: 40px;
	}

}
@media only screen and (max-width: 1350px) {
	.header-box {
		font-size: 11px;
	}

	.wrapper {
	    padding-top: 221px;
	}

	.container {
		padding: 0 22px;
	}

	.page-section{
		padding: 65px 0;
	}

	.page-section h2 {
		font-size: 33px;
		margin-bottom: 90px;
	}

	.page-section h2::after {
		width: 62px;
	}

	.page-section-content p {
		font-size: 18px;
	}

}
@media only screen and (max-width: 1230px) {
	.header-box {
		font-size: 10px;
	}

	.wrapper {
	    padding-top: 204px;
	}

	.container {
		padding: 0 20px;
	}

	.swiper-pagination-bullet {
		width: 30px;
	}

}
@media only screen and (max-width: 1120px) {
	.header-box {
		font-size: 8.6px;
	}

	.wrapper {
	    padding-top: 182px;
	}

	.container {
		padding: 0 16px;
	}

}
@media only screen and (max-width: 1000px) {
	.header-box .nav-menu,
	.img-logo {
		display: none;
	}

	.menu-mobile,
	.txt-logo {
		display: block;
	}

	.txt-logo {
		width: 264px;
	}

	.header-box {
		height: 80/16 + 0em;
		font-size: 16px;
		padding: 16px 32px;
	}

	.wrapper {
		padding-top: 6.4em;
	}
}
